
<div class ="product-specification-section">
    <div class="container">
        <div class = "product-specification-container">
           
            
                <div class ="product-specification-title sirius-title"> Product Specifications </div>
                <div class = "product-specification-section flex">
                    <div class="specs-text-container" id="specs-text-container">
                        {% assign specifications = product.metafields.Specs-title.Specs-title.size | minus: 1 %}
                        {% for i in (0..specifications) %}
                        <div class = "specs-text flex">
                            <span class ="specs-title"> {{product.metafields.Specs-title.Specs-title[i]}} </span>
                            <div class ="specs-value"> {{product.metafields.spec-value.spec-value[i]}} </div>
                        </div>
                        {% endfor %}
                    </div>
           
                    {% if product.metafields.custom.spec_image != blank %}
                        <div class="product-specification-right-section flex justify-center items-center" id="product-specification-right-section">
                    
                            <div class="specs-image-container">
                                <img class = "specs-image" src ="{{product.metafields.custom.spec_image | img_url : 'master'}}">
                            </div>
                        </div>
                    {% endif %}
                </div>
                </div>
</div>
</div>
</div>

{% style %}
.product-specification-section{
   
    background-color: #e6e6e6;
}

.product-specification-container{
    padding: 4rem 0;
    width:100%;
    justify-content:space-between;
}

.product-specification-left-section{
    width:60%;
}
.product-specification-title{
    font-weight: 600;
    font-size:1.8rem;
    position: relative;
}


.specs-text-container{
    width:60%;
    margin-top:3rem;
}
.specs-text{
    padding: 0 0 10px 0

}
.specs-title{
    width:43%;
    font-weight: 600;
}

.product-specification-right-section{
   
}
.specs-image{
    height:100%;
    width:100%;
}


@media screen and (max-width:768px){
    .product-specification-section{
        flex-direction:column;
        
    }

    .specs-text-container{
    width:100%;
}
    .specs-title{
        width:30%;
    }
    .specs-value{
        padding-left:20px;
    }
    .product-specification-right-section{
        margin-top:20px;
    }

    #product-specification-right-section{
        order:1;
    }

    #specs-text-container{
        order: 2;
    }
}

{% endstyle %}

{% schema %}
{
"presets": [ {
    "name":"Product Specifications",
    "category":"Advanced Layout"
}
]

}
{% endschema %}